body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 100vh;
    margin: 0 auto;
    
}
.container{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    border: 1px solid #000000;
}
.button{
    border: 1px solid #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    align-items: center;
    margin: 0.75px;
    width: 7em;
    height: 7em;
}
.display{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 25px;
    border: 1px solid #000000;
    height: 85px;
    background-color: antiquewhite;
    font-size: 35px;
}